@import "../../styles/responsive.scss";

.itemLists {
  margin: 40px 30px;

  @include md {
    margin: 20px 10px;
  }

  .categories {
    margin-top: 40px;

    @include md {
      margin-top: 20px;
    }
    h2 {
      @include md {
        font-size: 23px;
      }
    }

    .swiper {
      position: relative;

      .swiper-button-next,
      .swiper-button-prev {
        color: #000;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        width: 50px;
        height: 50px;
        transition: opacity 0.3s ease;
        border: 1px solid #000;
        padding: 10px 0px;

        @include md {
          width: 30px;
          height: 40px;
        }

        &::after {
          font-size: 15px;
          font-weight: bold;

          @include sm {
            font-size: 10px;
          }
        }

        &:hover {
          opacity: 0.8;
        }
      }

      .swiper-button-next {
        right: 10px;
      }

      .swiper-button-prev {
        left: 10px;
      }
    }
  }
}
