@import "../../styles/responsive.scss";

.labelsStickers {
  display: flex;
  position: relative;
  overflow: hidden;

  .labelsStickers-sidebar {
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
    z-index: 9;
  }

  .labelsStickers-content {
    flex: 8;
    z-index: 1;
    .labelsStickers-banner {
      display: flex;
      background: #5c5c5c;
      height: 300px;
      justify-content: space-between;
      position: relative;

      @include lg {
        position: static;
        align-items: center;
        padding: 20px;
        height: fit-content;
      }

      @include md {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        gap: 40px;
      }

      @include sm {
        padding: 20px 10px;
      }

      .empty-div {
        width: 400px;

        @include xxxl {
          width: 450px;
        }

        @include lg {
          // width: 400px;
          display: none;
        }
      }

      .labelsStickers-banner-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        gap: 10px;

        @include xl {
          margin-left: 50px;
        }

        @include lg {
          margin-left: 0px;
        }

        @include md {
          width: 100%;
          text-align: center;
          align-items: center;
        }

        h2 {
          font-size: 30px;
        }

        p {
          font-size: 20px;
        }

        .labelsStickers-buttons {
          display: flex;
          gap: 10px;

          button {
            width: fit-content;
            background: linear-gradient(135deg, #000, #333);
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            padding: 12px 18px;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            position: relative;
            overflow: hidden;

            &:hover {
              background: linear-gradient(135deg, #444, #000);
              transform: scale(1.05);
              box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
            }

            &:active {
              transform: scale(0.95);
              box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
            }

            &::before {
              content: "";
              position: absolute;
              top: -50%;
              left: -50%;
              width: 200%;
              height: 200%;
              background: radial-gradient(
                circle,
                rgba(255, 255, 255, 0.2) 0%,
                transparent 50%
              );
              transform: rotate(30deg);
              transition: opacity 0.3s;
              opacity: 0;
            }

            &:hover::before {
              opacity: 1;
            }
          }
        }
      }

      .labelsStickers-banner-img {
        padding: 20px;
        width: 500px;
        display: flex;
        justify-content: end;
        @include lg {
          padding: 0;
          justify-content: end;
        }

        @include md {
          width: 100%;
        }

        img {
          width: 100%;
          border-radius: 15px;
          object-position: right center;
          object-fit: cover;
          @include lg {
            height: 250px;
            padding: 0;
          }

          @include md {
            width: 100%;
            height: 350px;
          }
        }
      }
    }

    .labelsStickers-lists-container {
      display: flex;
      .set-size {
        min-width: 333px;

        @include lg {
          display: none;
        }
      }

      .labelsStickers-lists {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 30px 10px;
        @include lg {
          margin: 30px 20px;
        }

        @include md {
          margin: 30px 20px;
        }

        @include sm {
          margin: 30px 10px;
        }

        .labelsStickers-items {
          h1 {
            font-size: 30px;
            margin-bottom: 20px;

            @include sm {
              font-size: 25px;
            }
          }

          .labelsStickers-cards {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 20px 10px;

            @include xxl {
              grid-template-columns: repeat(5, 1fr);
            }

            @include xl {
              grid-template-columns: repeat(3, 1fr);
            }

            @include lg {
              grid-template-columns: repeat(3, 1fr);
            }

            @include md {
              grid-template-columns: repeat(2, 1fr);
            }

            @include sm {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }
  }
}
