@import "../../styles/responsive.scss";

.visitingCards {
  overflow: hidden;

  .visitingCards-banner {
    position: relative;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;

      @include md {
        filter: brightness(0.6);
      }
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      text-transform: uppercase;
      color: #fff;

      @include md {
        left: 50%;
        width: 100%;
        text-align: center;
      }

      @include sm {
        font-size: 30px;
      }
    }
  }

  .visitingCards-container {
    margin: 30px 10px;

    @include lg {
      margin: 30px 20px;
    }

    @include md {
      margin: 30px 20px;
    }

    @include sm {
      margin: 30px 10px;
    }

    h2 {
      font-size: 30px;

      @include sm {
        font-size: 25px;
      }
    }

    .visitingCards-desc {
      margin: 25px 0px;
      color: #333;
      font-weight: 500;
    }

    .visiting-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      grid-auto-rows: 1fr;
      margin-top: 30px;

      .visiting-card {
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #e0e0e0;
        padding: 15px;
        background: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        }

        img {
          object-fit: contain;
          width: 100%;
          height: 250px;
          border-radius: 8px; 
        }

        p {
          font-size: 18px;
          font-weight: 700;
          color: #333;
          transition: color 0.3s ease;
          margin-top: 15px;

          &:hover {
            color: #007bff;
          }
        }
      }

      @include xxl {
        grid-template-columns: repeat(3, 1fr);
      }

      @include xl {
        grid-template-columns: repeat(3, 1fr);
      }

      @include lg {
        grid-template-columns: repeat(2, 1fr);
      }

      @include sm {
        grid-template-columns: 1fr;
      }
    }

    
  }
}
