@import "../../styles/responsive.scss";

.sidebar {
  display: none;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 30px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 2.95px 2.95px 3.6px;
  }

  @include lg {
    display: none;
  }

  .sidebar-category {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
      font-size: 23px;
      font-weight: 700;
      color: #333;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid #f56a01;
    }

    .sidebar-subcategory {
      border-bottom: 1px solid #e0e0e0; //
      padding-bottom: 20px;

      &:last-child {
        border-bottom: none;
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        color: #444;
        margin-bottom: 15px;
        transition: color 0.3s ease;
        &:hover {
          color: #f56a01;
        }
      }

      ul {
        list-style: none;
        margin-left: 10px;
        padding-left: 0;

        li {
          font-size: 16px;
          color: #666;
          margin-bottom: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
          padding: 8px 12px;
          border-radius: 8px;
          &:hover {
            background-color: #f9f9f9;
            color: #f56a01;
            transform: translateX(5px);
          }

          &:active {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
