@import "../../styles/responsive.scss";

.footer {
  display: flex;
  background: #000;
  color: #fff;
  justify-content: space-between;
  padding: 60px 60px;
  align-items: flex-start;
  overflow: hidden;


  @include lg{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  @include md {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 20px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    text-align: center;

    p {
      color: #a7a6a6;

      &:first-child {
        color: #fff;
        font-size: 14px;
      }
      span {
        border-bottom: 2px solid #fff;
        cursor: pointer;
      }
    }
  }

  .footer-center {
    display: flex;
    gap: 10px;

    img {
      width: 50px;
      cursor: pointer;
    }
  }

  .footer-right {
    display: flex;
    gap: 10px;
    font-size: 25px;
    cursor: pointer;

    @include lg{
      font-size: 35px;
    }

    @include md{
      font-size: 35px;
    }
  }
}
